body {
    margin: 0;
    font-family: Arial;
    display: flex;
}

#viewport {
    position: relative;
    width: 70%;
    height: 100vh;
    overflow: hidden;
}

#bg-room {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.panel {
    width: 30%;
    background: #111;
    color: white;
    padding: 10px;
    overflow-y: auto;
}

.producto {
    cursor: pointer;
    margin: 10px 0;
}

.producto img {
    width: 100%;
}

.controls, .mode {
    position: absolute;
    left: 10px;
}

.controls { top: 10px; }
.mode { bottom: 10px; }

button {
    margin: 5px;
    padding: 8px;
    cursor: pointer;
}

.dot {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.blue { background: blue; }
.red { background: red; }
